@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    margin: 35px;
}
.nav{
    width: 80%; 
    border-bottom: 3px solid hsl(223, 64%, 98%); 
    display: flex;
}
.nav2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.nav-links{
    display: flex;
}

nav a{
    text-decoration: none;
    color: hsl(220, 14%, 75%);
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    font-size: 15px;
}
.drop-icon{
    display: none;
}
#profile{
    width: 40px;
    height: 40px;
}

.section-two{
    display: flex;
    margin: 20px;
}
.image1 img{
    margin: 15px;
}
.body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid darkcyan; */
    margin: 50px;
    
}
.container{
    display: flex;
    /* border: 1px solid darkcyan; */
    flex-direction: row;
    width: 80vw;
    
}
.images{
    width: 60vw;
}
.images img{
    border-radius: 10px;
}
.image-selected img{
    width: 60%;
    height: 45%;
    margin-left: 50px;
}
.images-show img{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.content{
    width: 40%;
    /*border: 1px solid darkcyan;*/
    height: 30%;
}
.content h5{
    color: hsl(26, 100%, 55%);
}
.content p {
    font-size: 16px;
    color: hsl(220, 14%, 75%);
    margin-top: 20px;
}
.output{
    display: flex;
}
.output h1{
    margin-right: 10px;
    float:left;
}
#discount{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.counter{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    background-color: hsl(223, 64%, 98%);
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}
.counter img{
    
    margin: 4px;
}
.counter button{
    margin: 4px;
    border: none;
    background-color: hsl(223, 64%, 98%);
}
#zero{
    font-weight: 700;
    background-color: hsl(223, 64%, 98%);
}
#buttonadd{
    background-color: hsl(26, 100%, 55%);
    border: 1px solid hsl(26, 100%, 55%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    width: 50%;
    padding: 10px;
    
}
.content button img{
    margin-right: 9px;
}

@media only screen and (max-width: 768px) {
    nav{
        border: none;
        width: 100%;
    }
    .logo{
        display: flex;
        
    }
    .drop-icon{
        display: flex;
        float: left;
    }
    .a-links{
        display: none;
    }
    .nav-links img{
        margin-right: 5px;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .images{
        width: 100%;
    }
    .images img{
        border-radius: 0px;
    }
    .image-selected img{
        width: 100%;
        /* height: fit-content; */
        margin: 0px;
    }
    .images-show img{
        display: none;
    }
    .content{
        width: 100%;
    }
    .output{
        display: flex;
        margin: 20px;
    }
    .output h1{
        margin-right: 20px;
    }
    #previous{
        text-decoration: line-through;
        margin: 10px;
    }
    .price
    {
        display: flex;
        justify-content: space-between;
    }
    #discount{
        background-color: hsl(25, 100%, 94%);
        color: hsl(26, 100%, 55%);
        font-weight: 700;
        width: fit-content;
        height: fit-content;
        margin-top: 10px;
        
    }
    .buttons{
        display: flex;
        flex-direction: column;
        
    }
    .counter{
        width: 80%;
        margin: 20px;
    }
    #buttonadd{
        width: 80%;
        margin-left: 20px;
    }
}